*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 1350x;
}

.site-header {
    background-image: url('NUOTR/Pazaislio-vienuolynas-A.Aleksandravicius-nuotr..jpg');
    max-width: 100%;
    height:860px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #979797;
    font-family: 'Cardo', sans-serif;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 400;
}

 .flex-container{
    position: fixed;
    justify-content: space-between;
    color: white;
    z-index: 9999;
    
}

.main-header {
    width: 700px ;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 160px;
    height: 150px;
}

.main-header div {
    width: 33.33%;
}
.main-header a {
    text-decoration:none;
    color:#fff;
    font-size: 20px;
    font-family: 'Cardo', sans-serif;
}
.main-header ul li {
    margin-left:30px;
}

/* navigacija*/

.containe {
    max-width:100%;
    margin:0 auto;
}
.site-home-link{
    font-size: 20px;

}
.flex-container {
    display: flex;
    font-size: 20px;
    
}

.mp.flex-container {
    justify-content: space-between;
}

/* juosta*/
ul.flex-container {
    list-style:none;
}

.logo {
    padding:30px 0;
    text-align: center;
}
.regist
{  
    position: fixed;
    text-align: center;
    opacity:0.6;
    padding-top: 45px;
    background-color: #567E7A;
    border:rgba(0, 0, 0, 0.25);
    color: white;
    Width: 160px;
    Height: 120px;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
}
.regist:hover {
    background: #c2bfbf;
    opacity:0.8;
}

.menu {
    border: none;
    background: none;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;
    right: 40%;
    height: 110px;
    
}

.site-home-link {
    border: none;
    background: none;
    height: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;
}
.mobile-menu {
    display: none;
}
.teks{
    text-align: center;
     padding-top: 170px; /*pakeista */
    text-transform: uppercase;
    color: #fff;
    font-family: 'Cardo', sans-serif;
    font-size: 30px;
}
.mon{
    padding: 70px;
}


/* mes*/
p{
    background-color:  #F0EEEA;
     font-family: 'Cardo', sans-serif;
     font-size: 100px;
     font-style: normal;
     color: #C8C6C3;
     margin: 0 0 ;
     text-align: center;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sli{
	display: block;
    width: 100%;

}

.slider,
.gallery{
	background-color: #F2F2F2;
	padding-top: 20px;
	padding-bottom: 20px;
}

.slider{
	background-color: #F0EEEA;
}
h5{
   
    text-align: center;
    color:darksalmon;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
}

/*apie*/
.apie {
    background-color: #F0EEEA;
    
}

.baroko {
    display: flex;
    float: left;
    width: 70%;
    Height: 214.67px; 
    color: #262626;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 70px;
    padding: 20px 20px;
}

.istorija {
    display: flex;
     padding-top: 80px;
    height: auto;
    color: #6C6C6C;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
}
/*registracija*/
.Registracija{
    background-color:#F0EEEA ;
    
}
.susisiek{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: burlywood;
    padding-top: 15px;
}
input[type=text],  textarea {
    width:98%;
    margin-left: 15px;
  padding: 20px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}
input[type=submit]{
    padding: 12px 20px;
    text-align:center;
    align-items:center;
    border: none;
    border-radius: 7px;
    margin-bottom: 5px;
    margin-left: 47%;
    size: 20px;
    color: #fff;
    background-color: #6C6C6C;


}
input[type=submit]:hover {
    background-color: #c2bfbf;

  }

/*footer*/
.footer{
    padding-top: 5px;
    height: 30px;
    text-align:center;
    align-items:center;
    /* background-color: #6C6C6C; */
    
}
.link { 
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    color:#c2bfbf;
    
}
.link:hover{
    background:#6C6C6C;
    opacity: 0.9;
    border-radius: 10px 0 30px;
}
.copy{
    display: flex;
    color: #979797;
    float: right;
    margin: 0 0;
  
}
.cent{
    text-transform: uppercase;
    color: #6C6C6C;
    padding-bottom: 30px;
    

}
.kont{
    column-count: 4;

}
.rask{
    color:#567E7A
}

address{
    width: 100%;
    display:flex;
    background-color:#C8C6C3;
    padding: 15px;
    font-family: 'Cardo', sans-serif;
}
a[href="tel: +37060492935"], [href="mailto:vereskaitegabriele@gmail.com"], [href="https://www.google.com/maps/place/Monte+Pacis/@54.8764566,24.018863,17z/data=!4m9!3m8!1s0x46e73d57a78d5e37:0x6be820256ba6d177!5m2!4m1!1i2!8m2!3d54.8762714!4d24.02088!16s%2Fg%2F12lkgkn57"]{
 text-decoration: none;
 font-size: 15px;
 color: rgb(26, 53, 162);
}
 @media all and (max-width:1264px) {
    .menu, .site-home-link {
        display:none;
    }
    .main-header {
        display:block;
    }
    .mobile-menu {
        display:flex;
        position: absolute ;
    }
    .mobile-menu ul {
        flex-direction:column;
        display:none;
        position:absolute;
        padding:20px;

    } 
    .mobile-menu li {
        list-style:none;
    }

    .mobile-menu ul {
        flex-direction:column;
        display:none;
        position:absolute;
        width:100%;
        padding:20px;
    }

    .mobile-menu a {
        color:#3c4761;
        font-size:1rem;
        text-transform: uppercase;
        text-decoration: none;
        margin:0 5px;
        padding:10px 17px;
        display:block;
    }
 }